@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #772F00;
  --background: #f2caad;
  --primary: #ad3401;
  --secondary: #ba6440;
  --accent: #df5d26;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--text);
  background: var(--background);
}